body {
  background-color: hsl(47, 88%, 63%);
}

/* .attribution { */
/*     font-size: 11px; */
/*     text-align: center; */
/* } */
/**/
/* .attribution a { */
/*     color: hsl(228, 45%, 44%); */
/* } */

.card {
  position: fixed;
  inset: 0px;
  width: 336px;
  align-self: center;
  margin: auto;
  padding: 24px;
  display: grid;
  grid-auto-flow: row;
  filter: drop-shadow(8px 8px 0 #000000);
  border: solid;
  border-color: hsl(0, 0%, 7%);
  border-width: 1px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.image {
  width: auto;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.content {
  padding-top: 12px;
  text-align: left;
  gap: 12px;
}

.category {
  background-color: hsl(47, 88%, 63%);
  color: hsl(0, 0%, 7%);
  width: 82px;
  height: 29px;
  border-radius: 4px;
}

.learning {
  padding: 4px;
  text-align: center;
  font-family: Figtree;
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
}

.publishDate {
  color: hsl(0, 0%, 7%);
  text-align: left;
  font-family: Figtree;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.title {
  color: hsl(0, 0%, 7%);
  text-align: left;
  font-family: Figtree;
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
}

.title:hover {
  color: hsl(47, 88%, 63%);
}

.description {
  color: hsl(0, 0%, 42%);
  font-family: Figtree;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.author {
  width: 129px;
  height: 32px;
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
  text-align: left;
}

.userpic {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.authorname {
  color: hsl(0, 0%, 7%);
  margin: 0px;
  align-self: center;
  font-family: Figtree;
  font-weight: 800;
  font-size: 14px;
}
